name: Continuous Deployment

on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types:
      - completed

permissions:
  actions: read
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Copy .env file for main branch
        if: github.head_ref == 'main'
        run: cp .env.prod .env

      - name: Copy .env file for other branches
        if: github.head_ref != 'main'
        run: cp .env.dev .env

      # - name: Log in to Docker Hub
      #   uses: docker/login-action@v1
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: docker-compose -f docker-compose.yml build

      # - name: Push Docker Image to Registry
      #   run: |
      #     docker-compose -f docker-compose.yml push